header {
  height: 400px;
  background-color: lightpink;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  bottom:0;
}

header img {
  position: relative;
}

header h2 {
  position: relative; 
  text-align: center;
}

article header.headerTweets {
  display: flex;
  flex-direction: row;
  background-image: none;
  justify-content: space-between;
  margin:auto;
  height: 75px;
  background-color: #f4f1ec;
}

article header img {
  position:inherit;
  left: inherit;
  height: 50px;
  width: 50px;
}

section container {

  margin-top: 30px; 
}

container:hover {
  box-shadow: 10px 10px 10px gray;
}

container:hover article header span{
  display: flex;
}

.handle {
  display: none;
  align-items: center;
  margin-right: 15px;
}

.spantweet {
  min-height: 65px;
  margin-top:10px;
  max-width: 800px;
  width: auto;
  display: flex;
  margin-right: 10px;
  margin-left:10px;
  border-bottom: 4px solid #545149;

}
